Chat.Android/bin/
Chat.Android/obj/
._.DS_Store
.DS_Store
Chat.iOS/bin/
Chat.iOS/obj/
Chat.UITests/bin/
Chat.UITests/obj/
Chat/bin/
Chat/obj/
packages/
AarBinding/obj/Debug/_WarningCodes
AarBinding/obj/Debug/_ErrorCodes
AarBinding/bin/Debug/AarBinding.pdb
AarBinding/bin/Debug/AarBinding.dll
