Chat.Android/bin/
Chat.Android/obj/
._.DS_Store
.DS_Store
Chat.iOS/bin/
Chat.iOS/obj/
Chat.UITests/bin/
Chat.UITests/obj/
Chat/bin/
Chat/obj/
packages/
AarBinding/obj/Debug/_WarningCodes
AarBinding/obj/Debug/_ErrorCodes
AarBinding/bin/Debug/AarBinding.pdb
AarBinding/bin/Debug/AarBinding.dll
AarBinding/obj/Debug/generated/src/Com.Aigestudio.Wheelpicker.BuildConfig.cs
AarBinding/obj/Debug/generated/src/Com.Aigestudio.Wheelpicker.IDebug.cs
AarBinding/obj/Debug/generated/src/Com.Aigestudio.Wheelpicker.IWheelPicker.cs
AarBinding/obj/Debug/generated/src/Com.Aigestudio.Wheelpicker.WheelPicker.cs
AarBinding/obj/Debug/generated/src/Com.Aigestudio.Wheelpicker.Widgets.IWheelDatePicker.cs
AarBinding/obj/Debug/generated/src/Com.Aigestudio.Wheelpicker.Widgets.IWheelDayPicker.cs
AarBinding/obj/Debug/generated/src/Com.Aigestudio.Wheelpicker.Widgets.IWheelMonthPicker.cs
AarBinding/obj/Debug/generated/src/Com.Aigestudio.Wheelpicker.Widgets.IWheelYearPicker.cs
AarBinding/obj/Debug/generated/src/Com.Aigestudio.Wheelpicker.Widgets.WheelDatePicker.cs
AarBinding/obj/Debug/generated/src/Com.Aigestudio.Wheelpicker.Widgets.WheelDayPicker.cs
AarBinding/obj/Debug/generated/src/Com.Aigestudio.Wheelpicker.Widgets.WheelMonthPicker.cs
AarBinding/obj/Debug/generated/src/Com.Aigestudio.Wheelpicker.Widgets.WheelYearPicker.cs
AarBinding/obj/Debug/generated/src/enumlist
AarBinding/obj/Debug/generated/src/Java.Interop.__TypeRegistrations.cs
AarBinding/obj/Debug/jl/AndroidManifest.xml
AarBinding/obj/Debug/jl/R.txt
AarBinding/obj/Debug/jl/aapt/AndroidManifest.xml
AarBinding/obj/Debug/jl/bin/AndroidManifest.xml
AarBinding/obj/Debug/jl/bin/classes.jar
AarBinding/obj/Debug/jl/bin/R.txt
AarBinding/obj/Debug/jl/res/layout/view_wheel_date_picker.xml
AarBinding/obj/Debug/jl/res/layout-v17/view_wheel_date_picker.xml
AarBinding/obj/Debug/jl/res/values/values.xml
AarBinding/obj/Debug/jl/res/values-zh/values-zh.xml
AarBinding/obj/Debug/library_project_imports/AndroidManifest.xml
AarBinding/obj/Debug/library_project_imports/R.txt
AarBinding/obj/Debug/library_project_imports/aapt/AndroidManifest.xml
AarBinding/obj/Debug/library_project_imports/bin/AndroidManifest.xml
AarBinding/obj/Debug/library_project_imports/bin/classes.jar
AarBinding/obj/Debug/library_project_imports/bin/R.txt
AarBinding/obj/Debug/library_project_imports/res/layout/view_wheel_date_picker.xml
AarBinding/obj/Debug/library_project_imports/res/layout-v17/view_wheel_date_picker.xml
AarBinding/obj/Debug/library_project_imports/res/values/values.xml
AarBinding/obj/Debug/library_project_imports/res/values-zh/values-zh.xml
AarBinding/obj/Debug/library_project_jars/classes.jar
AarBinding/obj/Debug/lp/0.stamp
AarBinding/obj/Debug/lp/map.cache
AarBinding/obj/Release/__AndroidLibraryProjects__.zip
AarBinding/obj/Release/AarBinding.csproj.CoreCompileInputs.cache
AarBinding/obj/Release/AarBinding.csproj.FileListAbsolute.txt
AarBinding/obj/Release/AarBinding.csprojAssemblyReference.cache
AarBinding/obj/Release/AarBinding.dll
AarBinding/obj/Release/AarBinding.pdb
AarBinding/obj/Release/api.xml
AarBinding/obj/Release/api.xml.class-parse
AarBinding/obj/Release/api.xml.fixed
AarBinding/obj/Release/generator.stamp
AarBinding/obj/Release/libraryimports.cache
AarBinding/obj/Release/libraryprojectimports.cache
AarBinding/obj/Release/resourcepaths.cache
AarBinding/obj/Release/generated/metadata
AarBinding/obj/Release/generated/type-mapping.txt
AarBinding/obj/Release/generated/src/__NamespaceMapping__.cs
AarBinding/obj/Release/generated/src/AarBinding.projitems
AarBinding/obj/Release/generated/src/Com.Aigestudio.Wheelpicker.BuildConfig.cs
AarBinding/obj/Release/generated/src/Com.Aigestudio.Wheelpicker.IDebug.cs
AarBinding/obj/Release/generated/src/Com.Aigestudio.Wheelpicker.IWheelPicker.cs
AarBinding/obj/Release/generated/src/Com.Aigestudio.Wheelpicker.WheelPicker.cs
AarBinding/obj/Release/generated/src/Com.Aigestudio.Wheelpicker.Widgets.IWheelDatePicker.cs
AarBinding/obj/Release/generated/src/Com.Aigestudio.Wheelpicker.Widgets.IWheelDayPicker.cs
AarBinding/obj/Release/generated/src/Com.Aigestudio.Wheelpicker.Widgets.IWheelMonthPicker.cs
AarBinding/obj/Release/generated/src/Com.Aigestudio.Wheelpicker.Widgets.IWheelYearPicker.cs
AarBinding/obj/Release/generated/src/Com.Aigestudio.Wheelpicker.Widgets.WheelDatePicker.cs
AarBinding/obj/Release/generated/src/Com.Aigestudio.Wheelpicker.Widgets.WheelDayPicker.cs
AarBinding/obj/Release/generated/src/Com.Aigestudio.Wheelpicker.Widgets.WheelMonthPicker.cs
AarBinding/obj/Release/generated/src/Com.Aigestudio.Wheelpicker.Widgets.WheelYearPicker.cs
AarBinding/obj/Release/generated/src/enumlist
AarBinding/obj/Release/generated/src/Java.Interop.__TypeRegistrations.cs
AarBinding/obj/Release/jl/AndroidManifest.xml
AarBinding/obj/Release/jl/R.txt
AarBinding/obj/Release/jl/aapt/AndroidManifest.xml
AarBinding/obj/Release/jl/bin/AndroidManifest.xml
AarBinding/obj/Release/jl/bin/classes.jar
AarBinding/obj/Release/jl/bin/R.txt
AarBinding/obj/Release/jl/res/layout/view_wheel_date_picker.xml
AarBinding/obj/Release/jl/res/layout-v17/view_wheel_date_picker.xml
AarBinding/obj/Release/jl/res/values/values.xml
AarBinding/obj/Release/jl/res/values-zh/values-zh.xml
AarBinding/obj/Release/library_project_jars/classes.jar
AarBinding/obj/Release/lp/0.stamp
AarBinding/obj/Release/lp/map.cache
Chat/.vs/Chat/xs/UserPrefs.xml
Chat/.vs/Chat/xs/sqlite3/db.lock
Chat/.vs/Chat/xs/sqlite3/storage.ide
Chat/.vs/Chat/xs/sqlite3/storage.ide-shm
Chat/.vs/Chat/xs/sqlite3/storage.ide-wal
